# True for development, False for production
DEBUG=True

SECRET_KEY=<STRONG_KEY_HERE>

# Database Configuration
DB_ENGINE=postgresql
DB_HOST=localhost
DB_NAME=website_db
DB_USERNAME=postgres
DB_PASS=<YOUR_PASSWORD_HERE>
DB_PORT=5432